.outer-container {
  --resize-bar-height: 3px;
}

.inner-container {
  position: relative;
  display: flex;
  width: calc(var(--canvas-width) + 50px);
  height: var(--container-height);
  background-color: #232323;
  z-index: 10;
  max-height: var(--container-height);
}

.left-container {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background-color: #2c2c2c;
  border-right: 1px solid white;
  box-sizing: border-box;
}

.right-container {
  position: relative;
  width: var(--canvas-width);
  flex: 0 0 auto;
  height: 100%;
}

.resize-bar {
  width: 100%;
  cursor: ns-resize;
  box-sizing: border-box;
  z-index: 50;
  height: var(--resize-bar-height);
  background-color: #191919;
}
