.ruler-container {
  height: 1.5rem;
  width: var(--canvas-width);
  border-bottom: 1px solid var(--black);
}

.ruler {
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0;
  top: 0;
  left: 50px;
  pointer-events: none;
  z-index: 10;
  flex-shrink: 0;
  background-color: #b99e42;
}

.text {
  font-weight: 500;
  font-size: 13px;
  font-family: inherit;
}
