.ruler {
  height: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  top: 0;
  left: 50px;
  pointer-events: none;
  z-index: 10;
  flex-shrink: 0;
  background-color: #b99e42;
  border-bottom: 1px solid #232323;

}

.text {
  font-weight: 500;
  font-size: 13px;
  font-family: inherit;
}
