.selection--range {
  --marker-color: #ffffff22;
  position: absolute;
  height: var(--canvas-height);
  border-left: 1px solid var(--marker-color);
  left: var(--left-marker-position);
  border-right: 1px solid var(--marker-color);
  background-color: #ffffff09;
  width: var(--range-width);
}
