.position-marker {
  --marker-color: #ffffff22;
  position: absolute;
  border-left: 1px solid var(--marker-color);
  border-right: 1px solid var(--marker-color);
  background-color: #ffffff09;
  height: var(--canvas-height);
  left: var(--left-marker-position);
  width: var(--selection-width);
}
