.lyric {
  box-sizing: border-box;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  text-align: left;
  background: transparent;
  color: white;
  text-shadow: 0 0 5px #00000066;
  padding: 0 7px;
  border: none;
  font-size: small;
  cursor: default;
}

.lyric:focus {
  cursor: text;
}

.lyric::placeholder {
  color: #ffffff77;
}
