.container {
  --white: #d9d9db;
  --black: #232323;

  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  user-select: none;
  max-width: 100%;
  max-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--black);
  // display: grid;
  // grid-template-areas:
  //   "upper-left upper-right"
  //   "middle-left middle-right"
  //   "lower-left lower-right";
}

.container::-webkit-scrollbar {
  display: none;
}


