.default {
  --white: #d9d9db;
  --black: #232323;

  --key-white: #d9d9db;
  --key-black: #232323;
  --key-white__active: #aeaeaf;
  --key-black__active: #444444;
  --key-black__selected: #3333ee;
  --key-rounded: 3px;
  --key-border-width: 1px;
  --key-border__active: 1px solid #232323;

  --key--label: #232323;
  --key--label-size: 14px;

  --note-border-color: #0a61a5;
  --note-background-color: #3d94d8;
  --note-background-color__inactive: #777777;
  --note-rounded: 6px;

  --lane-white: #2d2d2d;
  --lane-black: #232323;

  --marquee-border-color: #21215feb;
  --marquee-fill-color: #11118b33;

  --grid--primary-color: #373737;
  --grid--secondary-color: #303030;
  --grid--tertiary-color: #2a2a2a;

  --playhead-color: #ff0000;

}
