.lyric {
  box-sizing: border-box;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  text-align: left;
  color: white;
  text-shadow: 0 0 5px #00000066;
  padding: 0 7px;
  font-size: small;

  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  filter: saturate(var(--saturation));
  overflow: hidden;
  cursor: default;
}

.lyric:focus {
  outline: 3px solid #ffffff33 !important;
}

.lyric::placeholder {
  color: #ffffff77;
}
