
.container {
  position: relative;
  overflow: auto;


  width: 800px;
  height: 500px;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.lower-container {
  display: flex;
}

.lanes-container{
  position: relative;
  // overflow-x: scroll;
  // overflow-y: scroll;
  // width: 100%;
  width: fit-content;
  height: fit-content;
  flex: 0 0 auto;
}

.pianoroll-lane {
  position: relative;
  flex: 0 0 auto;
  // z-index: 3;


  width: var(--lane-length);
  height: var(--canvas-height);
  background-color: #232323;

  // & > *:not(:last-child) {
  //   position: absolute;
  //   inset: 0;
  // }
}

.notes-container {
  width: var(--width);
  height: var(--height);
}
