
.container {
  --white: #d9d9db;
  --black: #232323;

  position: relative;
  overflow: scroll;

  width: var(--width);
  height: var(--height);
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--black);
}

.container::-webkit-scrollbar {
  display: none;
}

.upper-container {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  width: calc(var(--canvas-width) + 50px);
}

.middle-container {
  display: flex;
  position: relative;
  width: calc(var(--canvas-width) + 50px);
  z-index: 1;
}

.lower-container {
  display: flex;
  position: sticky;
  bottom: 0;
  z-index: 2;
  height: fit-content;
}

.lane-container {
  height: var(--canvas-height);
  width: var(--canvas-width);
  z-index: 0;
  position: relative;
}

.pianoroll-lane {
  position: relative;
  flex: 0 0 auto;

  width: var(--canvas-width);
  height: var(--canvas-height);
  background-color: var(--black);

}
