
.container {
  position: relative;
  overflow: auto;

  width: 800px;
  height: 500px;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.ruler-container {
  position: sticky;
  height: 1.5rem;
  z-index: 999;
  display: flex;
  left: 50px;
  align-items: stretch;
  top: 0;
  width: fit-content;
}

.lower-container {
  display: flex;
}

.h-scroll{
  position: relative;
  // overflow-x: scroll;
  // overflow-y: scroll;
  // width: 100%;
  width: fit-content;
  height: fit-content;
  flex: 0 0 auto;
}

.pianoroll-lane {
  position: relative;

  width: var(--lane-length);
  height: var(--canvas-height);
  background-color: #232323;

  & > *:not(:last-child) {
    position: absolute;
    inset: 0;
    // left: 0px;
    // top: 0px;
  }
}

.notes-container {
  width: var(--width);
  height: var(--height);
}

.note {
  position: absolute;
}