.piano-roll-lane {
  position: relative;
  width: var(--lane-length);
  height: var(--canvas-height);
  background-color: #232323;

  & > *:not(:last-child) {
    position: absolute;
    inset: 0;
    // left: 0px;
    // top: 0px;
  }
}

.notes-container {
  width: var(--width);
  height: var(--height);
}
