.selection--marquee {
  position: absolute;
  top: var(--top) !important;
  left: var(--left) !important;
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  z-index: 1;
  pointer-events: none;
  &.active {
    pointer-events: all;
  }
}