.note-bar-container {
  height: var(--container-height);
  position: relative;
}

.marker-container {
  position: absolute;
  left: var(--marker-left);
  top: calc((var(--container-height) - var(--resize-bar-height)) * var(--marker-top) - 4px);
  width: var(--marker-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: ns-resize;

  &::after {
    visibility: hidden;
    content: attr(data-velocity);
    position: absolute;
    z-index: 40;
    overflow: hidden;
    background-color: #232323;
    padding: 2px;
    border: 1px solid #191919;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    transition-delay: 0s;
  }

  &:hover::after,
  &:focus::after {
    visibility: visible;
    transition-delay: 0.5s;
  }
}

.velocity-marker {
  width: 8px;
  aspect-ratio: 1;
  border: 2px solid var(--marker-color);
  border-radius: 50%;
  box-sizing: border-box;
}

.length-marker {
  width: 100%;
  height: 2px;
  background-color: var(--marker-color);
  flex: 1 1 auto;
}


